@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #dddee7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#nabver {
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
}

#nabver li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

/* #nabver li i {
  font-size: 25px;
  color: brown;
} */



#nabver li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#nabver li a:hover,
#nabver li a.active {
  color: #088178;
}

#nabver li a.active::after,
#nabver li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.logo{
  height: 40px;
  width: 40px;
  background: whitesmoke;
  text-decoration: none;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
}

.mobile {
  display: none;
}

#close{
 display: none;
}

@media (max-width: 799px) {
  #nabver {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 250px;
    background: #dddee7;
    box-shadow: 10px 10px 5px rgb(15, 15, 15);
    transition: .4s ease;
  }

  #nabver li {
    margin-bottom: 30px;
  }

  #nabver.active {
    right: 0px;
  }

  .mobile i {
    cursor: pointer;
  }

  .mobile {
    display: initial;
  }
  #close{
    position: absolute;
    top: 30px;
    right: 30px;
    display: initial;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
  }
  
  #header {
    padding: 20px 30px;  
}
}
